<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="DBCon" providerName="System.Data.SqlClient" connectionString="Data Source=ekzfk094s2.database.windows.net;Initial Catalog=Administrator;Integrated Security=False;User ID=achiever100;Password=P@ssw0rd;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    </connectionStrings>
</configuration>